#principal{
    background-color: rgb(230, 176, 112);
    border: 2px;
}

#barra{
    list-style: none;
    padding:0;
    background-color: rgba(0, 0, 0, 0.911);
    /*color: white;
    display: inline-block;
    list-style:none;*/
}

#barra-h li{
    display: inline;
}

#barra-h li a{
    display: inline-block;
    color: rgba(0, 0, 0);
    text-decoration: none;
    padding: 20px;
    transition: background .4s;
}

#a{
    background-color: brown;
    font-size: 4px;
    font-family: 'Courier New', Courier, monospace;
}

#c1{
    float: left;
    width: 750px;
    background-color: black;
}
#c2{
    float: right;
    width: 750px;
    background-color: blue;
}

